#dsa-help-sidebar {

    position: fixed;

    top: 0;
    right: -420px;

    width: 420px;
    height: 100vh;

    border: none;

    z-index: 999999;

    transition: right 0.3s ease;

    background: #081225;

    box-shadow:
        -5px 0 20px rgba(0,0,0,0.4);
}